<!-- about.jinja -->
<article class="about active" data-page="about">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    {% for line in about.presentation.split('\n') %}
    {% if line.strip() %}
    <p>{{ line }}</p>
    {% endif %}
    {% endfor %}
  </section>

  <!--
          - service
        -->

  <section class="service">
    <h3 class="h3 service-title">What I do</h3>
    <ul class="service-list">
      {% for do in doing %}
      <li class="service-item">
        <div class="service-icon-box">
          <img src="{{do.icon}}" alt="design icon" width="30" height="30">
        </div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{do.title}}</h4>
          <p class="service-item-text">{{do.text}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <!--
          - testimonials
        -->
  {% if softskills.enabled %}
  <section class="testimonials">
    <h3 class="h3 testimonials-title">{{softskills.title}}</h3>
    <ul class="testimonials-list has-scrollbar">
      {% for skill in softskills.skills %}
      <li class="testimonials-item">
        <div class="content-card" data-testimonials-item>
          <figure class="testimonials-avatar-box">
            <img src="{{skill.icon}}" alt="{{skill.title}}" width="60" data-testimonials-avatar>
          </figure>
          <h4 class="h4 testimonials-item-title" data-testimonials-title>{{skill.title}}</h4>
          <div class="testimonials-text" data-testimonials-text>
            <p>{{skill.text}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <!--
          - clients
        -->
  {% if technologies.enabled %}
  <section class="clients">
    <h3 class="h3 clients-title">{{technologies.title}}</h3>
    <ul class="clients-list has-scrollbar">
      {% for icon in technologies.technologies.values() %}
      <li class="clients-item">
        <a href="#">
          <img src="{{icon}}" alt="client logo" width="50" height="50">
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <!-- Visitor Count Display -->
  <div id="visitor-count">Visitor Count: 0</div> <!-- Placeholder for visitor count -->

  <script>
      // Fetch visitor count from your API
      fetch('https://qovrwwwn33.execute-api.us-east-1.amazonaws.com/test/visitor', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({})
      })
      .then(response => response.json())
      .then(data => {
          console.log('Visitor count:', data.visit_count);
          // Display the visitor count on the page
          document.getElementById('visitor-count').innerText = `Visitor Count: ${data.visit_count}`;
      })
      .catch(error => console.error('Error:', error));
  </script>

</article>
